TEAM_ID=

// Identity
PRODUCT_BUNDLE_IDENTIFIER = com.sleepingcats.komposerDev
PRODUCT_NAME = KomposerDev
EXECUTABLE_NAME = KomposerDev
PRODUCT_BUNDLE_PACKAGE_TYPE = APPL
DEVELOPMENT_LANGUAGE = en

// Versioning
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1

// Kotlin
KOTLIN_FRAMEWORK_BUILD_TYPE = debug